.carousel-container {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-image-container {
  position: relative;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

@media (min-width: 980px) {
  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
