.text-on-image {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: white;
  padding: 1px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.button-curiosities {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -65%);
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2px 3px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Ajustes para tablet */
@media (min-width: 768px) {
  .text-on-image {
    font-size: 25px;
  }

  .button-curiosities {
    font-size: 30px;
  }
}

/* Ajustes para desktop */
@media (min-width: 992px) {
  .text-on-image {
    font-size: 30px;
  }

  .button-curiosities {
    font-size: 35px;
  }
}
