.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top:-25vh;
    padding-top: 7vh;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 1px;
    width: 300px;
  }

  /* .form-group label {
    font-weight: bold;
  } */

  
 .text{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#D5B6C1;
 }

 .save{
    display: flex;
    background-color: aliceblue;
    border-radius: 3px;
    margin-left: 33%;
    margin-top:5%;
 }

 .observations{
    height: 70px;
 }

@media only screen and (min-width: 992px) {
   .form-group {
     width: 500px;
   }
 
   .save {
     margin-left: 38%;
   }
 }
 
 @media only screen and (min-width: 1200px) {
   .form-group {
     width: 700px;
   }
 
   .save {
     margin-left: 42%;
   }
 }